body {
  font-family: "Pretendard", sans-serif;
  background: #f3f4f6;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

input, button {
  font-size: 18px;
}