---
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>주식 관리 대시보드</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>